
.holder{
    border: 1px solid black;
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    padding: 5px;
    width: 32%;
}

canvas{
   display: inline-block;
   width: 99%;
}

#canvas-test{
    width: 50%;
}

.real{
    display: none;
}